/*步骤信息样式*/
#steps_info .one_logo{background: url(../images/steps_bg.png) 0 0 no-repeat;}
#steps_info .two_logo{background: url(../images/steps_bg.png) 0 0 no-repeat;}
#steps_info .thr_logo{background: url(../images/steps_bg.png) 0 -30px no-repeat;}
/*订单区域样式*/
#order_content{width:1000px;margin:40px auto;color:#1e1e1e;font-size:14px;}
.order_area{height:240px;background:#effaff;padding-left:20px;padding-top:24px;}
.success_logo{height:50px;line-height:50px;font-size:16px;font-weight:bold;}
.success_logo img{vertical-align:middle;margin-right:6px;}
.order_detail{width:400px;margin-top:16px;color:#1e1e1e;font-size:14px;}
.order_detail .label{width:70px;height:26px;display:block;line-height:26px;float:left;padding-left:4px;}
.order_detail .txt{width:250px;height:26px;display:block;line-height:26px;float:left;margin-left:4px;}
.product_name, .product_price, .effect_date, .the_payee{clear:both;}
.link_more{margin-top:14px;}
.link_more a{font-size:12px;color:#1e1b1b;}
.link_more a:hover{color: #254484;}
/*投资高手推荐样式*/
#recommend_content{width:1000px;margin:0 auto;color:#1e1e1e;}
#recommend_content h2{font-size:18px;}
.investor_lists{width:1000px;margin-top:20px;}
.single_area{width:490px;height:117px;margin-right:20px;background:#fdfdfd;float:left;margin-bottom:20px;}
.investor_pic{float:left;width:60px;height:60px;margin: 28px 20px;}
.investor_info{float:left;width:300px;height:117px;}
.txtName{font-size:16px;margin:20px 0 15px;}
.investor_details tr{height:22px;line-height:22px;}
.investor_details .per_profit{color:#d8110b;} 
.investor_details .single{width:70px;padding-left:30px;}
.investor_reserve{float:left;width:60px;height:25px;background:url(../images/reserve_bg.png) 0 0 no-repeat;margin-top:20px;cursor:pointer;}
.investor_reserved{float:left;width:60px;height:25px;background:url(../images/reserve_bg.png) 0 -25px no-repeat;margin-top:20px;cursor:default;}
.investor_lists .double{margin:0px;}
.pages_area{width:340px;height:25px;margin:20px auto 40px;clear:both;line-height:25px;text-align:center;}
.page_single{width:200px;float:left;}
.page_single a{width:12px;height:25px;display:inline-block;background:url(../images/page_list_bg.png) 0 0 no-repeat;margin-left:10px;}
.page_single a:hover, .page_single a.active{background-position:-12px 0px;}
.page_single a.page_prev{width:25px;height:25px;background-position:-74px 0;margin-left:8px;}
.page_single a.page_prev:hover{background-position:-99px 0px;}
.page_single a.page_next{width:25px;height:25px;background-position:-24px 0;margin-left:4px;}
.page_single a.page_next:hover{background-position:-49px 0px;}
.another_group, .more_investor{float:right;}
.another_group a, .more_investor a{width:55px;height:23px;display:inline-block;margin-left:10px;border:1px solid #dfdfdf;color:#1e1b1b;font-size:12px;}
.pages_area a:hover{color: #254484;text-decoration:none;}

